<div class="row">
    <div class="small-1 show-for-small-only columns">&nbsp;</div>
    <div class="small-8 small-offset-3 large-12 columns">
        <div class="homeTitulo">
            9 participantes, 3 retos y un objetivo:
            <span class="homeTituloVerde">tomar los ICE SHOT.</span>
        </div>
    </div>            
</div>
<div class="row carrusel" style="margin-top: 55px; margin-bottom: 25px;">
    <div class="small-1 columns no-margin">
        <div class="carruselPrev" data-action="carruselPrev"></div>
    </div>
    <div class="small-10 columns no-margin">
        <div id="player"></div>
        <div class="youtubeCarruselMov"></div>
    </div>
    <div class="small-1 columns no-margin">
        <div class="carruselNext" data-action="carruselNext"></div>
    </div>
</div>        
<div class="row" style="margin-top: 15px;">
    <div class="small-11 small-centered columns no-margin" >                
        <div class="homeCallAction">
            Para esos momentos écahte un ICE SHOT.
            <span class="homeCallVerde">Y tú, ¿qué hubieras hecho?</span>
        </div>
    </div>            
</div>
<div class="row">
    <div class="small-8 small-centered columns no-margin" style="margin-top: 15px;">                
        <div id="comentarios"></div>
        <img src="assetsW/img/comentarios.png">
    </div>            
</div>
<div class="row ft" style="margin-top: 15px;">
    <div class="small-4 columns no-margin">                
        <div class="ftAviso" data-action="showAviso"><img src="assetsW/img/aviso.png"></div>
    </div>
    <div class="small-4 columns no-margin">
        <div class="ftTerminos" data-action="showTerminos"><img src="assetsW/img/terminos.png"></div>
    </div>
    <div class="small-4 columns no-margin">
        <div class="ftShare" data-action="showShare"><img src="assetsW/img/comparte.png"></div>
    </div>            
</div>

<div class="terminos">
    <div class="row" style="height: 100%">
        <div class="small-10 small-centered columns" style="height: 100%">
            <div class="terminosClose" data-action="closeTerminos">X</div>
            <div class="terminosTit">Términos y condiciones</div>
            <div class="terminosTxt terTxt" style="display: none;">
                <div class="terminosTxtScroll">
                    <p><strong>INFORMACIÓN</strong><br />
                    Cualquier información que sea introducida por usted en los espacios disponibles al público en general, será propiedad de GRUPO BIMBO, S.A.B  DE C.V. (GRUPO BIMBO), por lo que éste podrá utilizarla, reproducirla, modificarla, adaptarla o ponerla a disposición del público, además de estar facultado para utilizar los comentarios, ideas, sugerencias o cualquier información que usted introduzca a este sitio, sin que esto genere alguna compensación.</p>
                    <p>Por otro lado, GRUPO BIMBO se reserva el derecho a evitar que se publiquen fotos, gráficos, material sonoro o de video que usted introduzca en los espacios disponibles al público en general, que sean ilegales, inmorales, o bien, que vayan en contra de sus políticas.</p>
                    <p><strong>PROPIEDAD INTELECTUAL</strong><br />
                    Todas las marcas, diseños, avisos comerciales, nombres comerciales, personajes, o cualquier tipo de propiedad industrial e intelectual utilizados o expuestos en este sitio web, son propiedad de GRUPO BIMBO, o bien, han sido introducidos con autorización del titular correspondiente.</p>
                    <p>Por el acceso a este sitio web, usted se compromete a no reproducir ni utilizar ningún derecho de propiedad industrial e intelectual propiedad de GRUPO BIMBO sin su autorización. GRUPO BIMBO hará uso de las acciones legales correspondientes en caso de que se haga un uso ilegal de sus derechos de propiedad industrial e intelectual incluyendo acciones penales, civiles y administrativas.</p>
                    <p><strong>EXCLUYENTES DE RESPONSABILIDAD</strong><br />
                    Usted expresamente declara y da su conformidad a lo siguiente:</p>
                    <p>a) Que el uso que haga usted de esta página lo hace por su cuenta y riesgo.<br />
                    b) Este sitio web es presentado sobre la base de &ldquo;es como es&rdquo; y &ldquo;en la medida en que se encuentre disponible&rdquo;.<br />
                    c) GRUPO BIMBO expresamente se exonera de cualquier deber de garantía o responsabilidad de cualquier tipo, tanto expresa o implícita, incluyendo pero sin limitarse a las garantías implícitas de la práctica comercial, la idoneidad para un propósito particular y la de no violación de derechos de terceros.<br />
                    d) GRUPO BIMBO no garantiza que el servicio vaya a satisfacer sus expectativas, que dicho servicio vaya a prestarse de forma ininterrumpida, puntual, segura o libre de errores o averías, que los resultados que pueda obtener del uso de este servicio sean acertados o fiables. No garantiza la calidad de cualesquiera de los productos, servicios, así como de la veracidad y<br />
                    precisión de la información contenida en el sitio web, y no garantiza que cualquier error en el sistema informático vaya a ser reparado.<br />
                    e) Cualquier material descargado o de cualquier otra forma obtenido a través del uso del servicio, se realiza por su cuenta y riesgo y usted será responsable por cualquier daño sufrido a su equipo informático o a cualquier pérdida de información que se derive de la descarga de dicho material.<br />
                    f) Ningún consejo o información, sea oral o escrita, que usted obtenga de GRUPO BIMBO o desde este sitio, creará responsabilidad o garantía alguna.<br />
                    g) GRUPO BIMBO no será responsable por el contenido o los propósitos de las comunicaciones que intercambien los usuarios del sitio de cualquier manera, por cuanto que el sitio no es más que el medio que facilita la comunicación electrónica entre los usuarios y que no asume responsabilidad alguna sobre el contenido de tales comunicaciones.<br />
                    h) GRUPO BIMBO no acepta responsabilidad alguna respecto del contenido de otros sitios web que se encuentren ligados a éste y su inserción a esta página no debe entenderse que estos sean avalados o autorizados por GRUPO BIMBO.<br />
                    i) GRUPO BIMBO no tendrá responsabilidad alguna por cualquier pérdida causada por algún virus transmitido al ingresar, bajar cualquier material o archivo de esta página web, por lo que si usted elige bajar materiales de este sitio siempre será bajo su propio riesgo. En algunas jurisdicciones no se permiten las exclusiones de responsabilidad implícita, por lo que usted deberá verificar si éstas son aplicables a usted.<br />
                    j) GRUPO BIMBO se reserva el derecho de restringir o dar por terminado el ingreso a este sitio web en cualquier momento.<br />
                    k) GRUPO BIMBO se reserva el derecho de modificar el contenido del sitio web sin previo aviso, por lo que no será responsable por las implicaciones que esto pueda llegar a ocasionar.</p>
                    <p><strong>PROHIBICIONES</strong><br />
                    Se prohíbe hacer uso de este sitio a fin de realizar un acto que pueda constituir una infracción, delito, difamación o calumnia a GRUPO BIMBO o subir archivos que contengan virus.</p>
                    <p><strong>POLÍTICA DE PRIVACIDAD DEL SITIO WEB</strong><br />
                    GRUPO BIMBO respeta su derecho de privacidad al igual que sus datos personales por lo que tomamos todas las medidas necesarias para mantener segura la información que nos proporcione, usted puede confiar que GRUPO BIMBO hará buen uso de dicha información y tomará todas las precauciones necesarias para mantener su información de manera privada y segura.</p>
                    <p>El uso que GRUPO BIMBO hace respecto a sus datos personales (correo electrónico, nombre, número telefónico, preferencia en productos) se basa únicamente para brindarle información de nuestros productos o promociones que pueden ser de su interés.</p>
                </div>
            </div>
            <div class="terminosTxt aviTxt" style="display: none;">
                <div class="terminosTxtScroll">
                    <p>En cumplimiento a lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo &quot;la Ley&quot;), nos permitimos informarle lo siguiente: </p>
                    <p>Corporativo Bimbo, S.A. de C.V., (en lo sucesivo el &quot;Grupo&quot;), señalando para efectos del presente Aviso de Privacidad el domicilio ubicado en Prolongación Paseo de la Reforma número 1000, Col. Peña Blanca Santa Fe, Distrito Federal, México, C.P. 01210, será el responsable de los datos personales que le sean proporcionados por las personas físicas (en lo sucesivo &ldquo;el Titular&rdquo;), para sí o para cualquiera de las sociedades mercantiles que sean sus controladoras, subsidiarias o filiales.</p>
                    <p>El tratamiento de los datos personales del Titular será efectuado de conformidad con los presentes términos y condiciones, por lo que, desde este momento se entiende que el Titular otorga su consentimiento para dicho tratamiento.</p>
                    <p>La información general que es recolectada por el Grupo de manera directa de su Titular con su pleno consentimiento, tal como: nombre, domicilio, mail, teléfono, nacionalidad, edad, entre otros; tendrá el uso que en forma enunciativa pero no limitativa se describe a continuación: i)identificarle, ii)ubicarle, iii)comunicarle, iv)contactarle, v)enviarle &nbsp;información, mercancía y/o publicidad, vi)fines estadísticos, vii)fines publicitarios, viii)cumplimiento a la legislación vigente, ix)cumplimiento a las obligaciones derivadas de la relación comercial, y en general todas aquellas referentes al vínculo que tiene el Titular con el Grupo.</p>
                    <p>Es responsabilidad del Titular de los Datos Personales el garantizar que los Datos facilitados al Grupo sean veraces y completos, así como comunicar al Grupo cualquier modificación en los mismos a efecto de que se pueda cumplir con la obligación de mantener la información actualizada.</p>
                    <p>La temporalidad del manejo de los Datos Personales del Titular en todos los casos será sólo por el tiempo razonable y para cumplir con las obligaciones que se deriven con motivo del vínculo que tiene el Titular con el Grupo.</p>
                    <p>La información que sea entregada al Grupo será debidamente resguardada, conservada y protegida con los medios tecnológicos y físicos adecuadas a efecto de que se impida su pérdida, mal uso, alteración, acceso no autorizado y robo. Sólo tendrán acceso a la información aquellas personas estrictamente autorizadas ya sean trabajadores, proveedores de servicios o socios de negocios, quienes han asumido el compromiso de mantener la información bajo un estricto orden de confidencialidad y seguridad; para ello los empleados del Grupo firman anualmente una Política de Privacidad, y los proveedores y socios de negocio han suscrito en los convenios y contratos donde se conviene expresamente la confidencialidad de la información.</p>
                    <p>En caso de que los datos personales resguardados sean requeridos por una autoridad de cualquier índole ya sea por proceso legal, para responder a cualquier reclamo o acciones legales, o para proteger los derechos del Grupo o sus clientes y el público, estos datos se podrán a su disposición dentro del estricto cumplimiento a la Ley.</p>
                    <p>Los Titulares de la información tendrán derecho a solicitar el acceso, rectificación, cancelación u oposición del tratamiento de sus datos, mediante solicitud escrita dirigida al Departamento de Datos de Corporativo Bimbo, S.A. de C.V., al siguiente domicilio: Prolongación Paseo de la Reforma No. número 1000, Col. Peña Blanca Santa Fe, Distrito Federal, México, C.P. 01210, en el horario de  10:00 a 17:00 horas, en días hábiles.</p>
                    <p>El Grupo dará respuesta a las solicitudes del Titular de la información, siempre y cuando no se actualice alguna de las excepciones contenidas en la Ley y el solicitante cumpla con los requisitos exigidos tanto por la Ley como por su Reglamento, regulaciones que podrán ser consultados en la página web del Instituto Federal de Acceso a la Información y Protección de Datos.</p>
                    <p>En caso de que se llegaran a recabar datos sensibles del Titular le será solicitado su consentimiento de manera expresa, lo que también ocurrirá si se transfirieran sus datos a cualquier tercero que no tenga el carácter de encargado, salvo en el caso de transferencia a autoridades por ministerio de Ley o requerimientos, o con motivo del cumplimiento de la relación jurídica celebrada con el Titular y Grupo, cuya notificación podrá efectuarse por cualquier medio ya sea escrito, telefónico, electrónico, óptico, sonoro, visual o cualquier otro que la tecnología permita ahora o en lo futuro.</p>
                    <p>En el supuesto de que Grupo requiera usar sus Datos Personales con fines distintos a los pactados o convenidos al tenor de la relación jurídica que se tiene con el Titular, se notificará en forma escrita, telefónica, electrónica, o por cualquier medio óptico, sonoro, visual u otro que la tecnología permita ahora o en lo futuro y explicando los nuevos usos que pretenda darle a dicha información a fin de recabar su autorización.</p>
                    <p>Con el presente Aviso de Privacidad los Titulares de la información quedan debidamente informados de los datos que se recabaron de ellos y con qué fines, aceptando los términos que fueron elaborados en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento.</p>
                    <p>El Grupo, se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria, en dicho supuesto se anunciará en esta página los cambios introducidos con la razonable antelación a su puesta en práctica.</p>
                    <p>El presente Aviso de Privacidad así como el manejo en general de la Ley que haga el Grupo, se rige por la legislación vigente y aplicable en los Estados Unidos Mexicanos, por lo que cualquier controversia que se suscite con motivo de su aplicación deberá ventilarse ante los Órganos Jurisdiccionales competentes en la Ciudad de México, Distrito Federal.</p>
                </div>
            </div>
        </div>
    </div>    
</div>

