<div class="comentarios">
    <div class="row comEscribe" style="width: 100%; margin: 0px;">
	<div class="large-1 small-2 columns no-margin smallCenter">
	    <div class="comFoto">#foto#</div>	    
	</div>
	<div class="large-9 small-7 columns no-margin smallCenter">
	    <input type="textfield" class="textfield" value="Escribe un comentario...">	    
	</div>
	<div class="large-2 small-3 columns no-margin smallCenter">	    
	    <div class="comentarioBtn" data-action='insertarComentario' data-pagina="#pagina#" ><img src="assets/img/btnComentar.png"></div>
	</div>
    </div>    
    <hr>
    <div class="comentariosBd">
	#comentarios#
    </div>		    
</div>