<div class="forma">
    <form method="post" id="uploadThumb" enctype="multipart/form-data" action="intfc.php" style="display: none; ">
        <input type="hidden" id="action" name="action" value="uploadThumb">
        <input type="hidden" id="accessToken" name="accessToken" value="#accessToken#">
            
    </form>
    <form method="post" id="upload-image-form" enctype="multipart/form-data" action="intfc.php">
        <table >
            <tr>
                <td width="140px">nombre:</td>
                <td><input type="text" class="textfield required1" value="" id="nombre" name="nombre" maxlength="30"></td>
            </tr>
            <tr>
                <td>image:</td>
                <td>
                    <div style="position: relative; width: auto; height: auto;">
                        <div class="fileDiv">
                            <input type="file" class="file" name="file" id="file" accept="image/*">
                            <p style="color:#ffffff;"></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <div style="position: relative; width: auto; height: auto;">
                        <div class="progressBar">
                            <div id="barra"><img src="assets/images/progressBar.png"></div>					    
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                        &nbsp;	
                </td>
                <td>
                    <div style="position: relative; width: auto; height: auto;">
                                <div class="foto"></div>					
                                <div class="btnCerrar" data-action="borrarFoto"></div>					
                                <input type="hidden" id="action" name="action" value="uploadPhoto">
                                <input type="hidden" id="sessionid" name="sessionid" value="">
                                <input type='hidden' name='x1' value='' id='x1' />
                                <input type='hidden' name='y1' value='' id='y1' />
                                <input type='hidden' name='x2' value='' id='x2' />
                                <input type='hidden' name='y2' value='' id='y2' />
                                <input type='hidden' name='w' value='' id='w' />
                                <input type='hidden' name='h' value='' id='h' />
                                <input type='hidden' name='w1' value='' id='w1' />
                                <input type='hidden' name='h1' value='' id='h1' />
                                <div id="imagePreview" style="display:none;"></div>
                                <input type="hidden" id="accessToken" name="accessToken" value="#accessToken#">
                                <input type="hidden" id="action" name="action" value="sendForm">
                    </div>
                </td>
            </tr>
        </table>
    <input type="button" value="enviar" data-action="sendForm">
    </form>
    <div class="btnPublicar" data-action="publicarFoto"></div>
    <div class="fotoMensajes mensajeSubiendo" style="top:593px; left:412px; display: none;">
            subiendo...
    </div>

</div>