

<div class="dedError" >*Necesitamos saber quién es tu amigo o, por lo menos, cómo se llama. Elige el perfil de tu tía en Facebook o dinos su nombre, por favor.</div>
<div class="dedAmigos">
    <div class="dedEncuentra">
        <span>Encuentra a tu amigo</span>
        <input type="text" id="buscaAmigo" name="buscaAmigo" class="textBusca" value="">
        <div class="btnBuscar" data-action="buscarAmigo"></div>
        <div class="btnEtiquetar" data-action="etiquetarAmigo">etiquetar amigo</div>
    </div>
    <div class="dedListaAmigos">
        cargando amigos...    
    </div>
</div>
<div class="loading">
    #amigosContent#
</div>
<script>
        App.amigosJSON = #amigosJSON#;
</script>