@font-face {
    font-family: 'FuturaStdLightCondensed';
    src: url('futurastd-condensedlight.eot');
    src: url('futurastd-condensedlight.eot') format('embedded-opentype'),
         url('futurastd-condensedlight.woff') format('woff'),
         url('futurastd-condensedlight.ttf') format('truetype'),
         url('futurastd-condensedlight.svg#FuturaStdLightCondensed') format('svg');
}
