#doc			        { width: 810px; height: 1228px; font-family: Georgia; color: #ffffff; background: url('../img/bg.jpg') no-repeat; margin: auto; position: relative; overflow: hidden; font-family: Arial,sans-serif;}
.inicio                         { cursor: pointer;}

.menu                           { float: left; width: 220px; height: auto;  }
.menuBtn, .votar ,
.comentarioBtn                  { cursor: pointer;}
.menuBtn                        { float: left; width: 100%; height: 25px; margin: 5px; background-color: #cccccc; border-radius: 10px; text-align: center; line-height: 25px; font-size: 15px; }

#dynamic                        { float: left; width: 100%; height: auto; min-height: 200px;position: relative;}

.youtubeCarrusel                { float: left; width: 10000px; height: auto; position: relative; margin-top: 232px;}
.carruselNext                   { position: absolute; width: 22px; height: 78px; top: 50%; margin-top: -39px; left: 777px; background: url(../img/flechaNext.png) no-repeat; z-index: 999; cursor: pointer;}
.carruselPrev                   { position: absolute; width: 22px; height: 78px; top: 50%; margin-top: -39px; left: 10px; background: url(../img/flechaPrev.png) no-repeat; z-index: 999; cursor: pointer;}
.carruselPlay                   { position: absolute; width: 84px; height: 62px; top: 50%; left: 50%; margin-top: -31px; margin-left: -42px; background: url(../img/play.png) no-repeat; cursor: pointer;}
.carruselLogo                   { position: absolute; width: 87px; height: 62px; top: 330px; left: 656px; z-index: 9990; background: url(../img/logo.png);}
.youtubeVideo                   { float: left; width: 810px; height: 446px; position: relative; background: url(../img/youtubeMarco.png) no-repeat;}
.youtubeVideo .video img        { width: 680px; height: 417px; margin-top: 13px; margin-left: 65px;}

#player                         { position: absolute; top: 245px; left: 65px; width: 680px; height: 418px; display: none;}
#comentarios                    { float: left; width: 510px; height: 340px; margin-top: 130px; margin-left: 150px; color: #000000; overflow-x: hidden; overflow-y: auto;}
#comentarios hr                 { width: 100%; height: 3px; margin: 5px 0px 5px 0px; background: url(../img/hr.png) repeat-x; border: none;}
.comFoto                        { float: left; width: 35px; height: 35px; margin: 10px 5px 10px 5px; }
.comFoto img                    { width: 35px; height: 35px;}
.comentarioBtn                  { float: left; width: auto; height: auto; margin: 7px 0px 0px 10px; }
.textfield                      { float: left; background: url(../img/textfield.png) no-repeat; width: 321px; height: 29px; border: none; padding-left: 5px; font-size: 13px; margin-top: 14px; margin-left: 5px;}
.comentario                     { float: left; width: 100%; height: auto; margin-bottom: -5px;}
.comentarioBd                   { float: left; width: 450px; height: auto; margin-left: 10px; margin-bottom: 10px;}
.comentarioBd .nombre           { float: left; width: 100%; height: auto; margin-bottom: 5px; font-size: 16px; color: #064c23; text-shadow: 10px 10px 10px #ffffff;}
.comentarioBd .coment           { float: left; width: 100%; height: auto; margin-bottom: 5px; font-size: 13px; color: #000000;}
.comentarioBd .like             { float: left; width: 100%; height: auto; font-size: 10px; color: #39579a; font-family: Georgia;}
.comentario img                 { float: left; width: 35px; height: 35px; margin-left: 5px;}

.terminos                       { position: absolute; width: 810px; height: 1172px; background: url(../img/bgTerminos.jpg) no-repeat; z-index: 9999; display: none;}
.terminosClose                  { position: absolute; top: 185px; left: 705px; cursor: pointer; width: auto; height: auto; font-family: 'ImpactRegular'; font-size: 30px; color: #003014; z-index: 999;}
.terminosTit                    { position: absolute; top: 185px; left: 0px; width: 100%; height: 50px; font-family: 'ImpactRegular'; font-size: 26px; color: #003014; text-align: center; font-style: italic;}
.terminosTxt                    { position: absolute; width: 598px; height: 840px; top: 260px; left: 110px; font-family: 'FuturaStdLightCondensed'; font-size: 24px; color: #003013; overflow-x: hidden; overflow-y: auto;}
.terminosTxt p                  { float: left; width: 575px; height: auto; margin-bottom: 10px;}

.ft                             { float: left; width: 100%; height: 50px; margin-top: 25px; position: relative;}
.ftAviso                        { position: absolute; width: 100px; height: 50px; top: 0px; left: 89px; cursor: pointer;}
.ftTerminos                     { position: absolute; width: 160px; height: 50px; top: 0px; left: 313px; cursor: pointer;}
.ftShare                        { position: absolute; width: 120px; height: 50px; top: 0px; left: 620px; cursor: pointer;}

@font-face {
    font-family: 'FuturaStdLightCondensed';
    src: url('../fonts/futurastd-condensedlight.eot');
    src: url('../fonts/futurastd-condensedlight.eot') format('embedded-opentype'),
         url('../fonts/futurastd-condensedlight.woff') format('woff'),
         url('../fonts/futurastd-condensedlight.ttf') format('truetype'),
         url('../fonts/futurastd-condensedlight.svg#FuturaStdLightCondensed') format('svg');
}

@font-face {
    font-family: 'ImpactRegular';
    src: url('../fonts/impact.eot');
    src: url('../fonts/impact.eot') format('embedded-opentype'),
         url('../fonts/impact.woff') format('woff'),
         url('../fonts/impact.ttf') format('truetype'),
         url('../fonts/impact.svg#ImpactRegular') format('svg');
}