// Small screens
@media only screen
{
    .fotoUserComent                 { text-align: center;}
} /* Define mobile styles */

@media only screen and (max-width: 40em)
{
    .terminosClose                  { top: 20px; right: 20px;}
    .terminosTxt                    { height: 300px; }
    
    .smallCenter                    { text-align: center;}
    .comFoto                        { margin: 10px 5px 0px 0px; width: 100%;}
    .comFoto img                    { width: 40px; height: 40px;}
    .fotoUserComent                 { text-align: center; margin-bottom: 5px; width: 35px;}
    .infoUserComent                 { margin-right: 0px; }
    .comentarioBtn                  { margin: 18px 0 0 10px; }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em)
{
    .infoUserComent                 { margin-right: 0px; }
    .textfield                      { width: 90%; margin-left: 7%;}
    
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */