html,body                       { width: 100%; height: 100%; }
#doc			        { width: 100%; height: 100%; color: #ffffff; position: relative; font-family: Arial,sans-serif;}
.inicio                         { cursor: pointer;}

.menu                           { float: left; width: 220px; height: auto;  }
.menuBtn, .votar ,
.comentarioBtn                  { cursor: pointer;}
.menuBtn                        { float: left; width: 100%; height: 25px; margin: 5px; background-color: #cccccc; border-radius: 10px; text-align: center; line-height: 25px; font-size: 15px; }

.no-margin                      { margin: 0; padding: 0; min-height: 1px;}

#dynamic                        { float: left; width: 100%; min-height: 100%; height: auto; position: relative; background: url('../img/bg.jpg') no-repeat center center; background-size: cover;}

.logo                           { position: absolute; width: 112px; height: 87px; background: url(../img/logo.png) no-repeat; top: 20px; left: 20px; z-index: 9999;}

.homeTitulo                     { text-align: center; width: 100%; font-family: 'ImpactRegular'; font-size: 21px; color: #003014; float: left; margin-top: 50px; font-style: italic;}
.homeTituloVerde                { color: #009439; }
.homeCallAction                 { float: left; width: 100%; height: auto; line-height: 30px; background: url(../img/momentos.png) no-repeat center center; background-size: 80% 100%; z-index: 9; font-family: 'FuturaStdLightCondensed'; font-size: 18px; color: #ffffff; padding: 0px 50px 0px 50px; text-align: center; font-style: italic;}
.homeCallVerde                  { color: #003014;}

.youtubeCarruselMov             { width: auto; height: auto;}
.youtubeCarrusel                { float: left; width: 100%; height: auto; position: relative; overflow: hidden;}
.carrusel                       { overflow: hidden; position: relative;}
.carruselNext                   { float: left; width: 100%; height: 78px; background: url(../img/flechaNext.png) no-repeat center; z-index: 999; cursor: pointer;}
.carruselPrev                   { float: left; width: 100%; height: 78px; background: url(../img/flechaPrev.png) no-repeat center; z-index: 999; cursor: pointer;}
.carruselPlay                   { position: absolute; width: 84px; height: 62px; top: 50%; left: 50%; margin-top: -31px; margin-left: -42px; background: url(../img/play.png) no-repeat; cursor: pointer; z-index: 9;}
.carruselLogo                   { position: absolute; width: 87px; height: 62px; top: 330px; left: 656px; z-index: 9990; background: url(../img/logo.png);}
.youtubeVideo                   { float: left; width: 100%; height: auto; min-height: 100px; position: relative;   /*float: left; width: 100%; height: 258px; position: relative; background: url(../img/youtubeMarco.png) no-repeat;*/}
.youtubeVideo .video            { position: absolute; top: 3%; left: 2%; width: 96%; height: 94%; text-align: center;}
.youtubeVideo .video img        { width: auto; height: 100%;  }

#player                         { position: absolute; display: none; z-index: 99; top: 1.4%; left: 2%;}
.loginBtn                       { float: left; width: 100%; height: 50px; line-height: 50px; text-align: center; cursor: pointer; position: relative;}
.comentarios                    { position: relative;}
#comentarios                    { position: absolute; width: 96%; height: 88%; color: #000000; overflow-x: hidden; overflow-y: auto; margin: 2% 2%; }
#comentarios hr                 { width: 100%; height: 3px; margin: 5px 0px 5px 0px; background: url(../img/hr.png) repeat-x; border: none;}
.comFoto                        { width: 50px; margin: 10px 5px 10px 0px; height: 50px;}
.comFoto img                    { width: 50px; height: 50px;}
.comentarioBtn                  { margin: 7px 0px 0px 10px; }
.textfield                      { float: left; background: url(../img/textfield.png) no-repeat; background-size: 100% 100%; width: 100%; height: 29px; border: none; padding-left: 5px; font-size: 13px; margin-top: 14px; margin-left: 5px;}
.comentario                     { float: left; width: 100%; height: auto; margin-bottom: -5px;}
.comentariosBd                  { position: relative; float: left; width: 100%; height: auto;}
.comentariosBd .nombre          { float: left; width: 100%; height: auto; margin-bottom: 5px; font-size: 16px; color: #064c23; text-shadow: 10px 10px 10px #ffffff;}
.comentariosBd .coment          { float: left; width: 100%; height: auto; margin-bottom: 5px; font-size: 13px; color: #000000;}
.comentariosBd .like            { float: left; width: 100%; height: auto; font-size: 10px; color: #39579a; font-family: Georgia;}
.comentario img                 { float: left; width: 35px; height: 35px; margin-left: 5px;}
.fotoUserComent                 { text-align: left; width: 55px;}
.infoUserComent                 { margin-right: 40px; }

.terminos                       { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: url('../img/bg.jpg') no-repeat center center; background-size: cover; z-index: 999; display: none;}
.terminosClose                  { position: absolute; top: 40px; right: 40px; cursor: pointer; width: auto; height: auto; font-family: 'ImpactRegular'; font-size: 30px; color: #003014; z-index: 999;}
.terminosTit                    { position: absolute; top: 60px; left: 0px; width: 100%; height: 50px; font-family: 'ImpactRegular'; font-size: 26px; color: #003014; text-align: center; font-style: italic;}
.terminosTxt                    { position: absolute; width: 100%; height: 80%; top: 130px; left: 0px; font-family: 'FuturaStdLightCondensed'; font-size: 24px; color: #003013;  background: url('../img/terminosMarco.png') no-repeat top center; background-size: 100% 100%;}
.terminosTxtScroll              { float: left; width: 94%; height: 90%; margin-left: 5%; margin-top: 5%; overflow-x: hidden; overflow-y: auto;}
.terminosTxt p                  { float: left; width: 96%; height: auto; margin-top: 5%; }
.terminosTxt p:first-child      { margin-top: 0%; }

.ft                             { font-family: 'FuturaStdLightCondensed'; margin-top: 25px; color: #003013; font-size: 18px;}
.ftAviso                        { cursor: pointer; width: 100%; text-align: center;}
.ftTerminos                     { cursor: pointer; width: 100%; text-align: center;}
.ftShare                        { cursor: pointer; width: 100%; text-align: center;}

@font-face {
    font-family: 'FuturaStdLightCondensed';
    src: url('../fonts/futurastd-condensedlight.eot');
    src: url('../fonts/futurastd-condensedlight.eot') format('embedded-opentype'),
         url('../fonts/futurastd-condensedlight.woff') format('woff'),
         url('../fonts/futurastd-condensedlight.ttf') format('truetype'),
         url('../fonts/futurastd-condensedlight.svg#FuturaStdLightCondensed') format('svg');
}

@font-face {
    font-family: 'ImpactRegular';
    src: url('../fonts/impact.eot');
    src: url('../fonts/impact.eot') format('embedded-opentype'),
         url('../fonts/impact.woff') format('woff'),
         url('../fonts/impact.ttf') format('truetype'),
         url('../fonts/impact.svg#ImpactRegular') format('svg');
}

/****************************
* White Overlay
****************************/

.white-overlay {
    background-color: white;
    position: absolute;
    z-index: 15000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.ie8 .white-overlay {
    display: none;
}