

<div id="facebookComments">
    <div id="fbCommentsBd">
        <div class="fb-comments" data-href="https://www.facebook.com/BonoboDigitalDemo/app_172331746300358" data-colorscheme="light" data-numposts="4" data-width="500"></div>
    </div>
</div>
