<div id="player" >
    <div id="video_inicio">
    	<iframe id="youtube" width="523" height="294" src="https://www.youtube.com/embed/qVqnzjRksII?enablejsapi=1&wmode=transparent&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>                       
    </div>
</div>