<div class="comentarios">
    <div class="comEscribe">
	<div class="comFoto">#foto#</div>
	<input type="textfield" class="textfield" value="Escribe un comentario...">
	<div class="comentarioBtn" data-action='insertarComentario' data-pagina="#pagina#" ><img src="assets/img/btnComentar.png"></div>
    </div>
    <hr>
    <!--div class="votar"
	data-action="votar"
	data-pagina="#pagina#">
	voto(s): #votos# votar
    </div-->
    <div class="comentariosBd">
	#comentarios#
    </div>		    
</div>